.container {
    display: flex;
    height: 100vh;
    background: #fff;
    overflow: hidden;
}

.leftPanel {
    flex: 80%;
    padding: 1rem 3rem 1rem 3rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #e8e8e8;
}

.rightPanel {

    padding: .4rem 1rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    /* background: #fff; */
}

.header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    height: 3rem;
    width: auto;
    object-fit: contain;
}

.tagline {
    margin: 0;
    font-size: .9rem;
    font-weight: 700;
    color: #f27125;
    letter-spacing: 0.08em;
    text-align: left;
    line-height: 1.2;
}

.tagline:nth-of-type(2) {
    margin-bottom: 0.15rem;
}

.tagline:nth-of-type(3) {
    font-weight: 500;
    font-size: .8rem;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}


.firstWrapper {
    aspect-ratio: 16/9;
    height: 58vh;
    position: relative;
    left: 1rem;
    .image3 {
        height: 100%;
        background-image: url("https://daihoc.fpt.edu.vn/wp-content/uploads/2025/12/P.Zo-9862-scaled.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}

.secondWrapper,
.thirdWrapper {
    display: inline-block;
    /* width: 250px;
  height: 170px; */
    height: 28vh;
    aspect-ratio: 16/9;
    position: relative;
    top: 1rem;
    left: 1.5rem;
}

.thirdWrapper {
    /* width: 350px;
  height: 220px; */
    top: 2rem;
    left: 3rem;
    height: 32vh;
    position: relative;
}

.secondWrapper .image4 {
    height: 100%;
    background-image: url("https://daihoc.fpt.edu.vn/wp-content/uploads/2025/12/429571259_835338095302699_6212075813717214346_n.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.thirdWrapper .image2 {
    height: 100%;
    background-image: url("https://daihoc.fpt.edu.vn/wp-content/uploads/2025/12/FPT09223-1-scaled.jpeg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media (max-width: 1024px) {
    .leftPanel {
        flex: 1;
        max-width: none;
    }

    .rightPanel {
        display: none;
    }
}

@media (max-width: 480px) {
    .leftPanel {
        padding: 1.5rem 1.25rem;
    }

    .formWrap {
        max-width: 100%;
    }

    .title {
        font-size: 1.5rem;
    }
}